<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petsfamily.yunximao.momentsService.mybatis.dao.PetMomentsInfoMapper">
  <resultMap id="BaseResultMap" type="com.petsfamily.yunximao.momentsService.mybatis.model.PetMomentsInfo">
    <!--
      @MBG Generated
    -->
    <id column="seq_id" jdbcType="INTEGER" property="seqId" />
    <result column="user_number" jdbcType="VARCHAR" property="userNumber" />
    <result column="pet_number" jdbcType="VARCHAR" property="petNumber" />
    <result column="moment_number" jdbcType="VARCHAR" property="momentNumber" />
    <result column="moment_type" jdbcType="INTEGER" property="momentType" />
    <result column="moment_title" jdbcType="VARCHAR" property="momentTitle" />
    <result column="moment_content" jdbcType="VARCHAR" property="momentContent" />
    <result column="favorites_count" jdbcType="INTEGER" property="favoritesCount" />
    <result column="read_count" jdbcType="INTEGER" property="readCount" />
    <result column="like_count" jdbcType="INTEGER" property="likeCount" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="key_word" jdbcType="VARCHAR" property="keyWord" />
    <result column="comments_count" jdbcType="INTEGER" property="commentsCount" />
    <result column="moment_video" jdbcType="VARCHAR" property="momentVideo" />
    <result column="is_pass" jdbcType="INTEGER" property="isPass" />
    <result column="task_id" jdbcType="VARCHAR" property="taskId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      @MBG Generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      @MBG Generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      @MBG Generated
    -->
    seq_id, user_number, pet_number, moment_number, moment_type, moment_title, moment_content, 
    favorites_count, read_count, like_count, is_delete, remark, create_user, update_user, 
    create_date, update_date, key_word, comments_count, moment_video, is_pass, task_id
  </sql>
  <select id="selectByExample" parameterType="com.petsfamily.yunximao.momentsService.mybatis.model.PetMomentsInfoExample" resultMap="BaseResultMap">
    <!--
      @MBG Generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pet_moments_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      @MBG Generated
    -->
    select 
    <include refid="Base_Column_List" />
    from pet_moments_info
    where seq_id = #{seqId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      @MBG Generated
    -->
    delete from pet_moments_info
    where seq_id = #{seqId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.petsfamily.yunximao.momentsService.mybatis.model.PetMomentsInfoExample">
    <!--
      @MBG Generated
    -->
    delete from pet_moments_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.petsfamily.yunximao.momentsService.mybatis.model.PetMomentsInfo">
    <!--
      @MBG Generated
    -->
    <selectKey keyProperty="seqId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pet_moments_info (user_number, pet_number, moment_number, 
      moment_type, moment_title, moment_content, 
      favorites_count, read_count, like_count, 
      is_delete, remark, create_user, 
      update_user, create_date, update_date, 
      key_word, comments_count, moment_video, 
      is_pass, task_id)
    values (#{userNumber,jdbcType=VARCHAR}, #{petNumber,jdbcType=VARCHAR}, #{momentNumber,jdbcType=VARCHAR}, 
      #{momentType,jdbcType=INTEGER}, #{momentTitle,jdbcType=VARCHAR}, #{momentContent,jdbcType=VARCHAR}, 
      #{favoritesCount,jdbcType=INTEGER}, #{readCount,jdbcType=INTEGER}, #{likeCount,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{updateUser,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{keyWord,jdbcType=VARCHAR}, #{commentsCount,jdbcType=INTEGER}, #{momentVideo,jdbcType=VARCHAR}, 
      #{isPass,jdbcType=INTEGER}, #{taskId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.petsfamily.yunximao.momentsService.mybatis.model.PetMomentsInfo">
    <!--
      @MBG Generated
    -->
    <selectKey keyProperty="seqId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pet_moments_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userNumber != null">
        user_number,
      </if>
      <if test="petNumber != null">
        pet_number,
      </if>
      <if test="momentNumber != null">
        moment_number,
      </if>
      <if test="momentType != null">
        moment_type,
      </if>
      <if test="momentTitle != null">
        moment_title,
      </if>
      <if test="momentContent != null">
        moment_content,
      </if>
      <if test="favoritesCount != null">
        favorites_count,
      </if>
      <if test="readCount != null">
        read_count,
      </if>
      <if test="likeCount != null">
        like_count,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="keyWord != null">
        key_word,
      </if>
      <if test="commentsCount != null">
        comments_count,
      </if>
      <if test="momentVideo != null">
        moment_video,
      </if>
      <if test="isPass != null">
        is_pass,
      </if>
      <if test="taskId != null">
        task_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userNumber != null">
        #{userNumber,jdbcType=VARCHAR},
      </if>
      <if test="petNumber != null">
        #{petNumber,jdbcType=VARCHAR},
      </if>
      <if test="momentNumber != null">
        #{momentNumber,jdbcType=VARCHAR},
      </if>
      <if test="momentType != null">
        #{momentType,jdbcType=INTEGER},
      </if>
      <if test="momentTitle != null">
        #{momentTitle,jdbcType=VARCHAR},
      </if>
      <if test="momentContent != null">
        #{momentContent,jdbcType=VARCHAR},
      </if>
      <if test="favoritesCount != null">
        #{favoritesCount,jdbcType=INTEGER},
      </if>
      <if test="readCount != null">
        #{readCount,jdbcType=INTEGER},
      </if>
      <if test="likeCount != null">
        #{likeCount,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="keyWord != null">
        #{keyWord,jdbcType=VARCHAR},
      </if>
      <if test="commentsCount != null">
        #{commentsCount,jdbcType=INTEGER},
      </if>
      <if test="momentVideo != null">
        #{momentVideo,jdbcType=VARCHAR},
      </if>
      <if test="isPass != null">
        #{isPass,jdbcType=INTEGER},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.petsfamily.yunximao.momentsService.mybatis.model.PetMomentsInfoExample" resultType="java.lang.Integer">
    <!--
      @MBG Generated
    -->
    select count(*) from pet_moments_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      @MBG Generated
    -->
    update pet_moments_info
    <set>
      <if test="record.seqId != null">
        seq_id = #{record.seqId,jdbcType=INTEGER},
      </if>
      <if test="record.userNumber != null">
        user_number = #{record.userNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.petNumber != null">
        pet_number = #{record.petNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.momentNumber != null">
        moment_number = #{record.momentNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.momentType != null">
        moment_type = #{record.momentType,jdbcType=INTEGER},
      </if>
      <if test="record.momentTitle != null">
        moment_title = #{record.momentTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.momentContent != null">
        moment_content = #{record.momentContent,jdbcType=VARCHAR},
      </if>
      <if test="record.favoritesCount != null">
        favorites_count = #{record.favoritesCount,jdbcType=INTEGER},
      </if>
      <if test="record.readCount != null">
        read_count = #{record.readCount,jdbcType=INTEGER},
      </if>
      <if test="record.likeCount != null">
        like_count = #{record.likeCount,jdbcType=INTEGER},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.keyWord != null">
        key_word = #{record.keyWord,jdbcType=VARCHAR},
      </if>
      <if test="record.commentsCount != null">
        comments_count = #{record.commentsCount,jdbcType=INTEGER},
      </if>
      <if test="record.momentVideo != null">
        moment_video = #{record.momentVideo,jdbcType=VARCHAR},
      </if>
      <if test="record.isPass != null">
        is_pass = #{record.isPass,jdbcType=INTEGER},
      </if>
      <if test="record.taskId != null">
        task_id = #{record.taskId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      @MBG Generated
    -->
    update pet_moments_info
    set seq_id = #{record.seqId,jdbcType=INTEGER},
      user_number = #{record.userNumber,jdbcType=VARCHAR},
      pet_number = #{record.petNumber,jdbcType=VARCHAR},
      moment_number = #{record.momentNumber,jdbcType=VARCHAR},
      moment_type = #{record.momentType,jdbcType=INTEGER},
      moment_title = #{record.momentTitle,jdbcType=VARCHAR},
      moment_content = #{record.momentContent,jdbcType=VARCHAR},
      favorites_count = #{record.favoritesCount,jdbcType=INTEGER},
      read_count = #{record.readCount,jdbcType=INTEGER},
      like_count = #{record.likeCount,jdbcType=INTEGER},
      is_delete = #{record.isDelete,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      key_word = #{record.keyWord,jdbcType=VARCHAR},
      comments_count = #{record.commentsCount,jdbcType=INTEGER},
      moment_video = #{record.momentVideo,jdbcType=VARCHAR},
      is_pass = #{record.isPass,jdbcType=INTEGER},
      task_id = #{record.taskId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.petsfamily.yunximao.momentsService.mybatis.model.PetMomentsInfo">
    <!--
      @MBG Generated
    -->
    update pet_moments_info
    <set>
      <if test="userNumber != null">
        user_number = #{userNumber,jdbcType=VARCHAR},
      </if>
      <if test="petNumber != null">
        pet_number = #{petNumber,jdbcType=VARCHAR},
      </if>
      <if test="momentNumber != null">
        moment_number = #{momentNumber,jdbcType=VARCHAR},
      </if>
      <if test="momentType != null">
        moment_type = #{momentType,jdbcType=INTEGER},
      </if>
      <if test="momentTitle != null">
        moment_title = #{momentTitle,jdbcType=VARCHAR},
      </if>
      <if test="momentContent != null">
        moment_content = #{momentContent,jdbcType=VARCHAR},
      </if>
      <if test="favoritesCount != null">
        favorites_count = #{favoritesCount,jdbcType=INTEGER},
      </if>
      <if test="readCount != null">
        read_count = #{readCount,jdbcType=INTEGER},
      </if>
      <if test="likeCount != null">
        like_count = #{likeCount,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="keyWord != null">
        key_word = #{keyWord,jdbcType=VARCHAR},
      </if>
      <if test="commentsCount != null">
        comments_count = #{commentsCount,jdbcType=INTEGER},
      </if>
      <if test="momentVideo != null">
        moment_video = #{momentVideo,jdbcType=VARCHAR},
      </if>
      <if test="isPass != null">
        is_pass = #{isPass,jdbcType=INTEGER},
      </if>
      <if test="taskId != null">
        task_id = #{taskId,jdbcType=VARCHAR},
      </if>
    </set>
    where seq_id = #{seqId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.petsfamily.yunximao.momentsService.mybatis.model.PetMomentsInfo">
    <!--
      @MBG Generated
    -->
    update pet_moments_info
    set user_number = #{userNumber,jdbcType=VARCHAR},
      pet_number = #{petNumber,jdbcType=VARCHAR},
      moment_number = #{momentNumber,jdbcType=VARCHAR},
      moment_type = #{momentType,jdbcType=INTEGER},
      moment_title = #{momentTitle,jdbcType=VARCHAR},
      moment_content = #{momentContent,jdbcType=VARCHAR},
      favorites_count = #{favoritesCount,jdbcType=INTEGER},
      read_count = #{readCount,jdbcType=INTEGER},
      like_count = #{likeCount,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      key_word = #{keyWord,jdbcType=VARCHAR},
      comments_count = #{commentsCount,jdbcType=INTEGER},
      moment_video = #{momentVideo,jdbcType=VARCHAR},
      is_pass = #{isPass,jdbcType=INTEGER},
      task_id = #{taskId,jdbcType=VARCHAR}
    where seq_id = #{seqId,jdbcType=INTEGER}
  </update>
</mapper>