<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petsfamily.yunximao.musicService.mybatis.dao.MusicInfoMapper">
  <resultMap id="BaseResultMap" type="com.petsfamily.yunximao.musicService.mybatis.model.MusicInfo">
    <!--
      @MBG Generated
    -->
    <id column="seq_id" jdbcType="INTEGER" property="seqId" />
    <result column="music_number" jdbcType="VARCHAR" property="musicNumber" />
    <result column="music_title" jdbcType="VARCHAR" property="musicTitle" />
    <result column="music_image" jdbcType="VARCHAR" property="musicImage" />
    <result column="singer" jdbcType="VARCHAR" property="singer" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="recommend" jdbcType="INTEGER" property="recommend" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      @MBG Generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      @MBG Generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      @MBG Generated
    -->
    seq_id, music_number, music_title, music_image, singer, url, recommend, is_delete, 
    remark, create_user, update_user, create_date, update_date
  </sql>
  <select id="selectByExample" parameterType="com.petsfamily.yunximao.musicService.mybatis.model.MusicInfoExample" resultMap="BaseResultMap">
    <!--
      @MBG Generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from music_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      @MBG Generated
    -->
    select 
    <include refid="Base_Column_List" />
    from music_info
    where seq_id = #{seqId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      @MBG Generated
    -->
    delete from music_info
    where seq_id = #{seqId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.petsfamily.yunximao.musicService.mybatis.model.MusicInfoExample">
    <!--
      @MBG Generated
    -->
    delete from music_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.petsfamily.yunximao.musicService.mybatis.model.MusicInfo">
    <!--
      @MBG Generated
    -->
    <selectKey keyProperty="seqId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into music_info (music_number, music_title, music_image, 
      singer, url, recommend, 
      is_delete, remark, create_user, 
      update_user, create_date, update_date
      )
    values (#{musicNumber,jdbcType=VARCHAR}, #{musicTitle,jdbcType=VARCHAR}, #{musicImage,jdbcType=VARCHAR}, 
      #{singer,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{recommend,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{updateUser,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.petsfamily.yunximao.musicService.mybatis.model.MusicInfo">
    <!--
      @MBG Generated
    -->
    <selectKey keyProperty="seqId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into music_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="musicNumber != null">
        music_number,
      </if>
      <if test="musicTitle != null">
        music_title,
      </if>
      <if test="musicImage != null">
        music_image,
      </if>
      <if test="singer != null">
        singer,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="recommend != null">
        recommend,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="musicNumber != null">
        #{musicNumber,jdbcType=VARCHAR},
      </if>
      <if test="musicTitle != null">
        #{musicTitle,jdbcType=VARCHAR},
      </if>
      <if test="musicImage != null">
        #{musicImage,jdbcType=VARCHAR},
      </if>
      <if test="singer != null">
        #{singer,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null">
        #{recommend,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.petsfamily.yunximao.musicService.mybatis.model.MusicInfoExample" resultType="java.lang.Integer">
    <!--
      @MBG Generated
    -->
    select count(*) from music_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      @MBG Generated
    -->
    update music_info
    <set>
      <if test="record.seqId != null">
        seq_id = #{record.seqId,jdbcType=INTEGER},
      </if>
      <if test="record.musicNumber != null">
        music_number = #{record.musicNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.musicTitle != null">
        music_title = #{record.musicTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.musicImage != null">
        music_image = #{record.musicImage,jdbcType=VARCHAR},
      </if>
      <if test="record.singer != null">
        singer = #{record.singer,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null">
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.recommend != null">
        recommend = #{record.recommend,jdbcType=INTEGER},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      @MBG Generated
    -->
    update music_info
    set seq_id = #{record.seqId,jdbcType=INTEGER},
      music_number = #{record.musicNumber,jdbcType=VARCHAR},
      music_title = #{record.musicTitle,jdbcType=VARCHAR},
      music_image = #{record.musicImage,jdbcType=VARCHAR},
      singer = #{record.singer,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      recommend = #{record.recommend,jdbcType=INTEGER},
      is_delete = #{record.isDelete,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.petsfamily.yunximao.musicService.mybatis.model.MusicInfo">
    <!--
      @MBG Generated
    -->
    update music_info
    <set>
      <if test="musicNumber != null">
        music_number = #{musicNumber,jdbcType=VARCHAR},
      </if>
      <if test="musicTitle != null">
        music_title = #{musicTitle,jdbcType=VARCHAR},
      </if>
      <if test="musicImage != null">
        music_image = #{musicImage,jdbcType=VARCHAR},
      </if>
      <if test="singer != null">
        singer = #{singer,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null">
        recommend = #{recommend,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where seq_id = #{seqId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.petsfamily.yunximao.musicService.mybatis.model.MusicInfo">
    <!--
      @MBG Generated
    -->
    update music_info
    set music_number = #{musicNumber,jdbcType=VARCHAR},
      music_title = #{musicTitle,jdbcType=VARCHAR},
      music_image = #{musicImage,jdbcType=VARCHAR},
      singer = #{singer,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      recommend = #{recommend,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where seq_id = #{seqId,jdbcType=INTEGER}
  </update>
</mapper>